.idea/
helm/
amibot.conf

### Python ###
# Byte-compiled / optimized / DLL files
*egg-info
*__pycache__*
*.py[cod]
*$py.class
*.pyc
.kdev4
*.creator*
*.kdev4
*.files
*.includes
*.cxxflags
*.cflags
*.config
.qtc_clangd
venv/
dist/
