.idea/
helm/
amibot.conf
.wrangler

### Python ###
# Byte-compiled / optimized / DLL files
*egg-info
*__pycache__*
*.py[cod]
*$py.class
*.pyc
.kdev4
*.creator*
*.kdev4
*.files
*.includes
*.cxxflags
*.cflags
*.config
.qtc_clangd
venv/
dist/
*/.terraform/
*.tfstate
scripts/local.env
deployment/cloud/aws/cicd_vars.tf
deployment/cloud/aws/*.json
node_modules
